.modal-button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .modal-button:hover {background-color: #e7e7e7;}